# Copyright (C) 2021 XXCoreRangerX <mail@xxcore.pl>
#
# Project:    Astro Xresources
# Repository: https://github.com/xxcorerangerx/astro-xresources
# License:    MIT

# +---------+
# + Scripts +
# +---------+
git.sh
